@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


:root
{
    --primary-color: #DC2626;
    --header-footer: black;
    --light-pink:#FDF2F8;
}

body{
    margin: 0;
    padding: 0;
}

.body-index
{
    font-family: 'Montserrat', sans-serif;
}

.body-blog1
{
    margin: 0px;
}

hr
{
    margin: 2rem 0rem;
}

.container
{
    padding: 0rem 1rem;
}

.container-center
{
    max-width: 600px;
    margin: auto;
}

.link
{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary
{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color : white;
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

.link-primary:hover, .link-secondary:hover
{
    background-color: black;
}

.link-secondary
{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

.link-primary, .link-secondary{
    transition: all 0.3s;
}

.link-camp
{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

.link-header{
    padding: 0;
    margin: 0 1rem;
}

.link-header:hover{
    border-bottom: 2px solid var(--header-footer);
}

.list-non-bullet
{
    list-style: none;
}

.list-item-inline
{
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation
{
    background-color: var(--primary-color);
    color : var(--header-footer);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand
{
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 1px;
}

.navigation .nav-pills
{
    text-align: right;
}
.navigation .link
{
    color: var(--header-footer);
    font-size: large;
    letter-spacing: 0.5px;
}

.navigation .link-active
{
    font-weight: bolder;
} 

.navigation .blog1
{
    font-family: 'Montserrat', sans-serif;
}

.hero
{
    padding: 2rem;
    padding-top: 5rem;
}

.hero .img-hero
{
    max-width: 350px;
    display: block;
    margin: auto;
}

.img-hero
{
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading
{
    text-align: center;
    padding-top: 1rem;
    color: var(--header-footer);
}

.hero .hero-heading .heading-inverted
{
    color : var(--primary-color);
}

.font-blog1
{
    font-family: 'Roboto', sans-serif;
}

.section
{
    padding : 2rem;
}

.section h1
{
    text-align: center;
}

.ow
{
    background-color: var(--light-pink);
}

.footer
{
    background-color: var(--primary-color);
    padding: 4rem 1rem;
    text-align: center;
    color: var(--header-footer);
    border-top-right-radius: 1rem;
}

.footer .footer-header
{
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 0.5rem;
    letter-spacing: 1px;
}

.footer .link
{
    color: white;
}

.footer ul
{
    padding-inline-start: 0px;
}

.footer-blog1
{
    font-family: 'Montserrat', sans-serif;
}

.footer-icons
{
    max-width: 32px;
    padding: 0rem 2rem;
}

.showcase-list {
    padding: 2rem;
}

.showcase-blog {
    padding-bottom: 6rem;
}

.quote
{
    margin: auto;
    padding: 0.5rem;
}

.quote-pad
{
    padding-bottom: 2rem;
}

.card{
    background-color: var(--light-pink);
    color: var(--header-footer);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    text-align: center;
    /* line-height: 1.2rem;
    word-spacing: 1px; */
}

.section .card{
    max-width: 600px;
    margin: auto;
}

.card .link{
    margin: auto;
}

.showcase-list .link-primary{
    margin: 0.5rem auto;
}

@media(max-width:500px){
    .hero .img-hero{
        max-width: 250px;
        margin: auto;
    }

    .navigation .nav-pills
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: right;
    }

    .list-item-inline{
        padding: 0.3rem 0;
    }
}